.componentContiner {
    height: 2em;
    width: 100vw;
    background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(120,156,69,1) 25%, rgba(29,79,253,1) 50%, rgba(73,163,162,1) 80%, rgba(252,69,69,1) 100%);
    align-self: end;
}